<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load Google fonts first %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <style>
      /* Root Styles */

      :root {
        --color-primary: #007bff;
        --color-secondary: #6c757d;
        --color-success: #28a745;
        --color-danger: #dc3545;
        --color-warning: #ffc107;
        --color-info: #17a2b8;
        --color-light: #f8f9fa;
        --color-light-hover: #ffffff;
        --color-dark: #121212;
        --color-dark-hover: #2f2f2f;

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 1.5rem;
        --spacing-xl: 3rem;
        --spacing-xxl: 4rem;

        --br-sm: 10px;
        --br-md: 20px;
        --br-lg: 40px;

        --br-pill: 50rem;
        --br-circle: 50%;
        --br: 0.25rem;

        --font-family-base: 'Public Sans', sans-serif;

        --font-size-base: 14px;
        --font-size-xs: 10px;
        --font-size-sm: 12px;
        --font-size-md: 14px;
        --font-size-lg: 18px;
        --font-size-xl: 32px;
        --font-size-xxl: 60px;
        --font-size-xxxl: 100px;

        --line-height-base: 1.5;
        --line-height-sm: 1.25;
      }
    </style>
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
