{% comment %}
  carousels for collections
{% endcomment %}

<div class="categories">
  {% if section.settings.categories == blank %}
    <p class="no-products">No categories set in admin.</p>
  {% else %}
    <div class="categories">
      {% for collection in section.settings.categories %}
        <a class="button category" href="{{ collection.url }}" class="category-link">{{ collection.title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .categories {
    padding: var(--spacing-lg) 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--spacing-sm);

    .category {
      padding: var(--spacing-md) var(--spacing-lg);
      background-color: var(--color-dark);
      color: var(--color-light);
      text-decoration: none;
      transition: background-color 0.3s ease;

      @media screen and (max-width: 768px) {
        padding: var(--spacing-sm) var(--spacing-md);
      }

      &:hover {
        background-color: var(--color-dark-hover);
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "collection_list",
      "id": "categories",
      "label": "Collections to show in categories"
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "category": "Custom"
    }
  ]
}
{% endschema %}
