{% comment %}
  carousels for collections
{% endcomment %}

<div class="categories">
  {% if section.settings.categories == blank %}
    <p class="no-products">No categories set in admin.</p>
  {% else %}
    <div class="categories">
      {% for collection in section.settings.categories %}
        <a class="button category" href="{{ collection.url }}" class="category-link">{{ collection.title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .categories {
    padding: var(--spacing-lg) 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--spacing-lg);

    .category {
      color: var(--color-dark);
      text-decoration: none;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      font-family: 'Solway', system-ui;
      transition: background-color 0.3s ease;
      background-color: transparent;
      border-radius: 0;
      padding: var(--spacing-xs) 0;

      &:hover {
        border-bottom: 2px solid var(--color-dark);
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "collection_list",
      "id": "categories",
      "label": "Collections to show in categories"
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "category": "Custom"
    }
  ]
}
{% endschema %}
