{% comment %}
  carousels for collections
{% endcomment %}

<div class="categories">
  {% if section.settings.categories == blank %}
    <p class="no-products">No categories set in admin.</p>
  {% else %}
    <div class="categories-header">
      <div class="categories">
        {% for collection in section.settings.categories %}
          <a class="button category" href="{{ collection.url }}" class="category-link">{{ collection.title }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .categories {
    padding: var(--spacing-lg) 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
      padding: var(--spacing-xl) 0;
    }

    .categories {
      display: flex;
      gap: var(--spacing-sm);
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1024px) {
        justify-content: flex-start;
        margin-top: var(--spacing-md);
      }

      .category {
        padding: var(--spacing-md) var(--spacing-lg);
        background-color: var(--color-dark);
        color: var(--color-light);
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-dark-hover);
        }
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "collection_list",
      "id": "categories",
      "label": "Collections to show in categories"
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "category": "Custom"
    }
  ]
}
{% endschema %}
