<footer>
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}

  <div class="footer-logo">
    <svg width="243" height="87" viewBox="0 0 243 87" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M234.777 59.2834V54.7563H239.512V59.2834H234.777Z" fill="#121212"/>
      <path d="M219.033 59.2833V42.5839C219.157 42.5839 219.465 42.5839 219.957 42.5839C220.45 42.5839 221.02 42.5839 221.667 42.5839C222.321 42.5762 222.956 42.5762 223.572 42.5839C224.188 42.5839 224.677 42.5916 225.039 42.607C227.048 42.6763 228.688 43.0689 229.958 43.785C231.237 44.501 232.176 45.4672 232.776 46.6837C233.377 47.9001 233.677 49.2975 233.677 50.8758C233.677 52.5004 233.365 53.9478 232.742 55.2181C232.118 56.4808 231.167 57.474 229.889 58.1977C228.611 58.9214 226.987 59.2833 225.016 59.2833H219.033ZM223.526 55.7494H225.154C225.724 55.7494 226.301 55.5916 226.887 55.2759C227.479 54.9525 227.976 54.429 228.376 53.7053C228.784 52.9816 228.988 52.0153 228.988 50.8066C228.988 49.7826 228.827 48.9241 228.503 48.2312C228.188 47.5306 227.741 47.0032 227.164 46.649C226.586 46.2949 225.916 46.1178 225.154 46.1178H223.526V55.7494Z" fill="#121212"/>
      <path d="M204.078 59.2829V42.5835H216.412L216.389 46.3022H208.605V49.0739H215.119V52.7001H208.571V55.5411H216.435V59.2829H204.078Z" fill="#121212"/>
      <path d="M191.902 59.2829V52.3306L186.024 42.5835H190.875L194.178 48.5195L197.446 42.5835H202.354L196.406 52.3306V59.2829H191.902Z" fill="#121212"/>
      <path d="M178.361 59.5144C176.705 59.5144 175.269 59.164 174.053 58.4634C172.844 57.7551 171.909 56.7619 171.247 55.4839C170.584 54.2058 170.253 52.7006 170.253 50.9683C170.253 49.2283 170.588 47.7155 171.258 46.4297C171.936 45.1363 172.883 44.1354 174.099 43.4271C175.316 42.711 176.736 42.353 178.361 42.353C179.977 42.353 181.39 42.711 182.599 43.4271C183.808 44.1354 184.747 45.1363 185.417 46.4297C186.087 47.7155 186.422 49.2283 186.422 50.9683C186.422 52.6929 186.09 54.1981 185.428 55.4839C184.774 56.7619 183.842 57.7551 182.634 58.4634C181.425 59.164 180 59.5144 178.361 59.5144ZM178.361 55.9112C178.977 55.9112 179.523 55.7572 180 55.4492C180.486 55.1336 180.863 54.6216 181.132 53.9132C181.409 53.1972 181.548 52.2387 181.548 51.0376C181.548 49.7981 181.409 48.8087 181.132 48.0696C180.863 47.3228 180.486 46.7839 180 46.4528C179.523 46.1217 178.977 45.9562 178.361 45.9562C177.745 45.9562 177.194 46.1217 176.709 46.4528C176.232 46.7839 175.855 47.3228 175.577 48.0696C175.3 48.8087 175.162 49.7981 175.162 51.0376C175.162 52.2387 175.3 53.1972 175.577 53.9132C175.855 54.6216 176.232 55.1336 176.709 55.4492C177.194 55.7572 177.745 55.9112 178.361 55.9112Z" fill="#121212"/>
      <path d="M157.929 59.2829V42.5835H162.421V55.5873H169.097V59.2829H157.929Z" fill="#121212"/>
      <path d="M142.523 59.2829V42.5835H149.129C150.361 42.5835 151.47 42.8029 152.455 43.2418C153.448 43.6806 154.234 44.3235 154.811 45.1704C155.388 46.0096 155.677 47.0336 155.677 48.2423C155.677 49.3433 155.435 50.2903 154.95 51.0833C154.465 51.8686 153.775 52.473 152.882 52.8965C151.989 53.3199 150.931 53.5316 149.706 53.5316H147.016V59.2829H142.523ZM146.969 50.1825H149.568C150.138 50.1825 150.611 49.9554 150.988 49.5012C151.366 49.0469 151.554 48.5503 151.554 48.0114C151.554 47.4339 151.346 46.9412 150.931 46.5331C150.523 46.1174 150.068 45.9095 149.568 45.9095H146.969V50.1825Z" fill="#121212"/>
      <path d="M120.644 59.2829V42.5835H127.319L130.022 52.7694L132.747 42.5835H139.399V59.2829H134.895V47.1799L131.639 59.2829H128.405L125.137 47.1799V59.2829H120.644Z" fill="#121212"/>
      <path d="M105.689 59.2829V42.5835H118.023L118 46.3022H110.217V49.0739H116.73V52.7001H110.182V55.5411H118.047V59.2829H105.689Z" fill="#121212"/>
      <path d="M232.119 40.0348V33.0825L226.241 23.3354H231.092L234.395 29.2715L237.663 23.3354H242.571L236.623 33.0825V40.0348H232.119Z" fill="#121212"/>
      <path d="M216.958 40.0348V23.3354H221.451V36.3393H228.126V40.0348H216.958Z" fill="#121212"/>
      <path d="M200.402 40.0348V23.3354H207.077C209.41 23.3354 211.108 23.7166 212.17 24.4788C213.241 25.2333 213.776 26.3227 213.776 27.747C213.776 28.517 213.583 29.1983 213.198 29.7912C212.813 30.384 212.105 30.9345 211.073 31.4426C211.805 31.6582 212.378 31.9315 212.794 32.2626C213.218 32.5936 213.525 32.9478 213.718 33.3251C213.91 33.7023 214.034 34.0796 214.088 34.4568C214.141 34.8264 214.168 35.169 214.168 35.4847C214.168 37.0399 213.653 38.187 212.621 38.9262C211.597 39.6653 209.872 40.0348 207.447 40.0348H200.402ZM204.895 36.6626H207.609C208.271 36.6626 208.767 36.4855 209.098 36.1314C209.43 35.7695 209.595 35.3692 209.595 34.9303C209.595 34.6224 209.518 34.349 209.364 34.1104C209.21 33.864 208.991 33.6715 208.706 33.5329C208.429 33.3866 208.101 33.3135 207.724 33.3135H204.895V36.6626ZM204.895 29.8489H207.724C207.994 29.8489 208.232 29.8104 208.44 29.7334C208.656 29.6564 208.837 29.5525 208.983 29.4216C209.137 29.283 209.252 29.1213 209.329 28.9366C209.414 28.7441 209.457 28.5401 209.457 28.3245C209.457 27.824 209.272 27.4314 208.902 27.1465C208.54 26.8539 208.094 26.7077 207.563 26.7077H204.895V29.8489Z" fill="#121212"/>
      <path d="M182.07 40.0348L187.983 23.3354H192.579L198.492 40.0348H194.057L192.948 36.8012H187.682L186.55 40.0348H182.07ZM188.629 32.967H191.932L190.292 27.6316L188.629 32.967Z" fill="#121212"/>
      <path d="M166.568 40.0348V23.3354H174.144C175.592 23.3354 176.754 23.5741 177.632 24.0515C178.517 24.5288 179.16 25.1755 179.561 25.9916C179.961 26.8001 180.161 27.7085 180.161 28.7171C180.161 29.5717 180.046 30.3031 179.815 30.9114C179.591 31.5119 179.28 32.0278 178.879 32.4589C178.487 32.8824 178.032 33.2519 177.517 33.5676L180.45 40.0348H175.842L173.417 34.2836H171.061V40.0348H166.568ZM171.061 30.9345H173.636C174.214 30.9345 174.691 30.7074 175.068 30.2531C175.453 29.7989 175.646 29.3023 175.646 28.7633C175.646 28.1859 175.438 27.6931 175.022 27.2851C174.606 26.8693 174.144 26.6615 173.636 26.6615H171.061V30.9345Z" fill="#121212"/>
      <path d="M151.613 40.0348V23.3354H163.947L163.924 27.0541H156.14V29.8258H162.654V33.4521H156.106V36.2931H163.97V40.0348H151.613Z" fill="#121212"/>
      <path d="M141.995 40.2666C141.133 40.2666 140.278 40.1589 139.431 39.9433C138.592 39.7277 137.818 39.4005 137.11 38.9616C136.41 38.5228 135.832 37.9723 135.378 37.3102C134.924 36.6404 134.662 35.8551 134.593 34.9543H139.166C139.25 35.3469 139.42 35.6818 139.674 35.959C139.928 36.2362 140.271 36.4517 140.702 36.6057C141.141 36.752 141.664 36.8251 142.272 36.8251C142.634 36.8251 143 36.7828 143.37 36.6981C143.739 36.6057 144.047 36.4556 144.293 36.2477C144.547 36.0321 144.675 35.7396 144.675 35.37C144.675 34.885 144.474 34.5539 144.074 34.3768C143.674 34.192 143.2 34.0496 142.654 33.9495L139.801 33.4414C138.808 33.2643 137.957 32.9679 137.249 32.5521C136.54 32.1287 135.998 31.5782 135.62 30.9007C135.251 30.2232 135.066 29.4109 135.066 28.4639C135.066 27.3398 135.378 26.3813 136.001 25.5883C136.625 24.7876 137.472 24.1793 138.542 23.7636C139.612 23.3401 140.813 23.1284 142.145 23.1284C143.6 23.1284 144.836 23.3517 145.852 23.7982C146.876 24.2448 147.662 24.8646 148.208 25.6576C148.755 26.4506 149.04 27.3629 149.063 28.3946H144.605C144.559 27.9712 144.428 27.6286 144.213 27.3668C143.997 27.105 143.704 26.9125 143.335 26.7893C142.973 26.6585 142.534 26.593 142.018 26.593C141.187 26.593 140.606 26.7393 140.274 27.0319C139.943 27.3244 139.778 27.6401 139.778 27.9789C139.778 28.3253 139.913 28.6217 140.182 28.8681C140.459 29.1068 140.948 29.2839 141.649 29.3993L144.132 29.8036C145.294 29.9883 146.245 30.3117 146.984 30.7736C147.731 31.2356 148.282 31.813 148.636 32.5059C148.99 33.1989 149.167 33.9919 149.167 34.885C149.167 35.9705 148.851 36.9175 148.22 37.7259C147.596 38.5266 146.746 39.1503 145.668 39.5968C144.59 40.0434 143.366 40.2666 141.995 40.2666Z" fill="#121212"/>
      <path d="M127.569 40.0348V23.3354H132.061V40.0348H127.569Z" fill="#121212"/>
      <path d="M105.689 40.0348V23.3354H112.365L115.067 33.5214L117.792 23.3354H124.444V40.0348H119.941V27.9318L116.684 40.0348H113.45L110.182 27.9318V40.0348H105.689Z" fill="#121212"/>
      <path d="M56.0341 68.9085C56.1812 68.8682 56.3317 68.8522 56.4823 68.8766C57.7512 69.0824 58.5004 70.0447 52.5985 72.5711C47.2533 74.8592 42.5716 75.5568 40.1453 75.6582C39.545 75.6833 39.0485 75.235 38.9571 74.6403L38.7208 73.1015C38.599 72.3083 39.2379 71.6018 40.0391 71.5894C45.2782 71.5086 52.5794 69.8562 56.0341 68.9085Z" fill="#121212"/>
      <path d="M25.3416 71.4901C25.1404 70.606 25.9721 69.869 26.8554 70.0677C28.4696 70.4309 30.7024 70.8486 32.9272 71.0456C33.521 71.0982 34.012 71.5423 34.102 72.1325L34.3975 74.0697C34.5211 74.88 33.8535 75.5906 33.0404 75.497C30.7957 75.2385 27.814 74.7953 26.503 74.264C26.2548 74.1634 26.0762 73.9534 25.9829 73.7022C25.7416 73.053 25.5202 72.2753 25.3416 71.4901Z" fill="#121212"/>
      <path d="M17.8514 67.9293C17.759 67.4087 18.2766 67.2294 18.7621 67.4373C19.4165 67.7174 20.2308 68.0436 20.9169 68.2633C21.3756 68.4102 21.7535 68.7655 21.875 69.2322C22.1784 70.3971 20.8542 71.2572 19.9523 70.4613C18.9423 69.5698 18.0864 68.7268 17.9586 68.3431C17.908 68.1909 17.8734 68.0531 17.8514 67.9293Z" fill="#121212"/>
      <path d="M53.5929 60.8456C54.268 60.7076 54.9394 61.1186 55.0773 61.7946C55.2426 62.6049 55.3832 63.4398 55.5163 64.2823C55.6153 64.9083 55.2326 65.5119 54.6178 65.6623C49.1128 67.0093 42.3602 66.8742 38.732 66.5579C38.116 66.5041 37.6454 65.9951 37.6185 65.3764L37.5384 63.5329C37.5054 62.7713 38.1484 62.1553 38.9088 62.1889C44.2361 62.4246 50.2507 61.5286 53.5929 60.8456Z" fill="#121212"/>
      <path d="M24.4175 61.4762C24.4886 60.6452 25.3323 60.1073 26.1314 60.3421C28.3594 60.9969 30.801 61.4239 32.4366 61.6451C33.0788 61.732 33.5693 62.2747 33.5694 62.9236V65.1147C33.5694 65.7376 33.1107 66.2261 32.4906 66.1784C31.8646 66.1302 30.9603 66.0249 29.7257 65.8188C27.895 65.5133 26.1412 64.9716 25.0321 64.5712C24.5195 64.3861 24.2123 63.8735 24.2588 63.3298L24.4175 61.4762Z" fill="#121212"/>
      <path d="M68.5911 54.81C69.0559 54.5982 69.656 54.7 69.7109 55.2085C69.8142 56.1655 69.0438 57.7902 65.6417 59.8869C62.9874 61.5228 61.4287 62.4488 60.5702 62.9387C60.047 63.2372 59.5719 62.9941 59.4555 62.4024L59.0292 60.2351C58.9163 59.6612 59.2121 59.0848 59.7437 58.8425L68.5911 54.81Z" fill="#121212"/>
      <path d="M14.8943 56.9712C14.9764 56.0456 16.1708 55.7353 16.9646 56.2165C18.0096 56.8499 19.3074 57.5072 20.3187 57.9863C20.8151 58.2214 21.1145 58.7438 21.053 59.2903L20.8459 61.1315C20.7502 61.9822 19.8577 62.4858 19.1053 62.0797C17.971 61.4675 16.6189 60.6413 15.7374 59.8238C14.9604 59.1033 14.8037 57.9919 14.8943 56.9712Z" fill="#121212"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8487 0C18.5972 3.04203e-06 19.307 0.333168 19.7858 0.909234L29.3637 12.4317L38.6888 0.932899C39.1674 0.342751 39.8862 1.11256e-05 40.6454 0H47.6997C49.0917 0 50.2201 1.12803 50.2201 2.52212V29.0916C50.2201 34.771 50.2202 41.2482 61.1839 39.8826C73.849 38.3049 74.9203 35.907 78.1338 38.7467C81.3473 41.5864 80.4023 43.164 82.3555 42.4699C84.3088 41.7757 84.6507 37.3894 80.9062 34.9603C75.3614 31.3634 71.1396 33.6982 61.1839 35.4021C57.0884 36.103 55.639 32.373 55.387 29.0916V2.52421C55.387 1.13016 56.5155 4.98465e-05 57.9074 0H80.5912C81.9832 0 83.1116 1.13013 83.1116 2.52421V5.9319C83.1116 7.32598 81.9832 8.45611 80.5912 8.45611H65.1536V14.3249H78.3858C79.7778 14.3249 80.9062 15.455 80.9062 16.8491V19.9413C80.9062 21.3354 79.7778 22.4655 78.3858 22.4655H65.1536V30.543C70.7195 28.7971 83.1116 26.7062 88.1524 32.3099C94.4535 39.3146 90.218 48.5687 87.3964 52.3774C80.1502 62.1587 80.0241 72.2556 63.4523 80.9641C50.6611 87.6859 4.9786 93.1434 4.9786 72.2556V54.523C4.9786 51.8095 -1.32243 45.8776 0.252816 38.7467C1.82808 31.6158 8.38117 32.7517 8.38117 28.2712V2.52421C8.38117 1.13016 9.50964 5.03669e-05 10.9016 0H17.8487ZM16.2446 40.9553C10.5737 39.9457 11.0776 37.2953 7.36008 38.2418C3.6425 39.1884 2.69738 44.2368 5.65879 44.2368C8.6202 44.2368 7.61218 41.9651 10.8257 43.1009C14.0391 44.2368 9.69147 44.0476 10.2586 55.9113C10.8257 67.7751 14.2282 76.3574 23.4277 78.6923C32.6273 81.0272 51.6565 82.2893 65.0147 69.2896C78.3727 56.2901 76.1045 50.6737 78.3728 49.6008C80.6412 48.528 79.8852 53.1346 82.2165 50.2949C84.5479 47.4552 81.2712 45.8776 78.3728 43.7951C75.4743 41.7127 71.0637 40.4506 70.1815 41.7757C69.2994 43.1009 74.7812 43.6689 73.017 46.3193C71.2527 48.9697 62.7109 57.552 36.5339 57.552C10.3571 57.552 14.7323 45.8146 16.2446 45.4358C17.7568 45.0572 19.3321 45.0572 21.1594 43.7951C22.9866 42.533 23.7428 41.0816 22.8607 39.9457C21.9785 38.8098 20.9073 41.5864 16.2446 40.9553ZM29.6027 27.8294L18.639 13.3152V28.3343C18.765 28.6077 18.6389 29.1546 17.1267 29.1547C15.2364 29.1546 12.2749 28.4605 12.2749 31.0478C12.2749 33.6351 17.0006 32.6255 18.639 32.8779C19.9497 33.0799 28.5106 35.9911 32.6273 37.4215C32.5013 38.8729 31.6443 42.2679 29.2247 44.2368C26.2002 46.6979 26.0112 48.6542 30.2329 51.6201C34.4545 54.5861 34.1396 56.0375 43.213 53.8288C52.2865 51.6202 54.744 51.9356 58.0835 48.9697C61.423 46.0038 61.7381 45.8775 59.3437 45.0572C56.9493 44.2368 52.6016 41.9651 49.8291 43.1009C47.0567 44.2368 47.3088 45.8144 49.8291 45.8145C52.3495 45.8145 55.2479 47.2028 49.8291 48.528C44.4103 49.8532 42.1417 50.8629 38.4241 50.6736C34.7066 50.4842 31.9972 48.2125 32.6273 46.8241C33.2574 45.4358 39.7475 39.5039 40.1885 34.3293C40.5414 30.1896 40.3356 18.595 40.1885 13.3152L29.6027 27.8294Z" fill="#121212"/>
    </svg>
  </div>

  <div class="footer-about">
    MiserablyEmployed is a small team of unhappy tech workers who are creating a unique retail brand that satirizes
    modern employment conditions.
  </div>

  {%- if section.settings.show_social and has_social_icons -%}
    {%- render 'social-icons', class: 'footer__list-social' -%}
  {%- endif -%}

  <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    {% endif %}
  </div>

  <div class="footer-copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    Miserably Employed, LLC. All rights reserved.
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
</footer>

{% stylesheet %}
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-lg);
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xl) auto;
    max-width: 512px;
  }

  .footer-about {
    font-size: var(--font-size-lg);
    text-align: center;
    color: var(--color-dark);
    opacity: 0.4;
  }

  footer a {
    text-decoration: none;
    color: var(--color-foreground);
  }

  footer .footer__links,
  footer .footer__payment {
    display: flex;
    gap: 1rem;
  }

  .footer-copyright {
    font-size: var(--font-size-sm);
    color: var(--color-dark);
    opacity: 0.4;
    text-align: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "shop_menu",
      "label": "Shop menu"
    },
    {
      "type": "link_list",
      "id": "help_menu",
      "label": "Help menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    }
  ]
}
{% endschema %}
